@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';
.about-container {
    margin: 0 auto;
    max-width: $container-md;
    .about-logo {
        width: 240px;
    }
    .about-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}